*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
}
body{
    background-color: #FAFAF9;
}
.main-section{
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    /* border: 1px solid rebeccapurple; */
    font-family: "Sora", sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review-img{
    height: 35px;
    width: 35px;
    padding: 10px;
    background-color: #F5C044;
    border-radius: 50%;
    margin-bottom: 10px;
}
.heading-text{
    font-size: 2.25rem;
    color: #18181b;
    margin-bottom: 25px;

}
.heading-paragraph{
    color: #52525A;
    font-size: 1.25rem;
    margin-top: 7px;
}
.main-checklist{
    margin-top: 40px;
}
.checklist-section{
    display: flex;
    align-items: center;
    color: #52525A;
    font-size: 0.875rem;
    margin-top: 5px;
}
.checklist-section img{
    margin-right: 10px;
}
.reviewers-section-2{
    /* border: 3px solid salmon; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-container-1{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: end;
    
}
.img-section{
    display: flex;
    align-items: center;
}
.logos{
    width: 120px;
    margin-right: 20px;
}
.Reviewer-name{
    color: #18181b;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.reviewer-des{
    color: #52525A;
    font-size: 1rem;
}
.reviewer-card{
    background-color:  #ffffff;
    /* border: 1px solid tomato; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 4.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.card-container-2{
    display: flex;
    justify-content: start;
}


/* for responsivness  */

@media screen and (max-width: 576px) {
    .main-section{
        flex-direction: column;
        width: auto;
        padding: 1rem;
    }
    .reviewers-section-1{
        margin-bottom: 1rem;
    }
    .reviewers-section-2{
        width: 100%;
    }
    .card-container-1, .card-container-2{
        width: 100%;
    }
}